In [176]:
import pandas as pd

In [177]:
df = pd.read_csv('../dati/POSAS_2024_it_Province.csv', sep=';')
df.head()
df.count

<bound method DataFrame.count of        Codice provincia  Provincia  Età  Celibi  Coniugati  Divorziati  \
0                    84  Agrigento    0    1483          0           0
1                    84  Agrigento    1    1587          0           0
2                    84  Agrigento    2    1570          0           0
3                    84  Agrigento    3    1525          0           0
4                    84  Agrigento    4    1620          0           0
...                 ...        ...  ...     ...        ...         ...
10909                56    Viterbo   97       1         13           0
10910                56    Viterbo   98       1          3           0
10911                56    Viterbo   99       0          5           0
10912                56    Viterbo  100       0          5           0
10913                56    Viterbo  999   70881      70555        5687

       Vedovi  Uniti civilmente  \
0           0                 0
1           0                 0
2           0                 0
3           0                 0
4           0                 0
...       ...               ...
10909      13                 0
10910       9                 0
10911       7                 0
10912       3                 0
10913    4267               130

       Maschi già in unione civile (per scioglimento unione)  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
10909                                                  0
10910                                                  0
10911                                                  0
10912                                                  0
10913                                                  2

       Maschi già in unione civile (per decesso del partner)  Totale maschi  \
0                                                      0               1483
1                                                      0               1587
2                                                      0               1570
3                                                      0               1525
4                                                      0               1620
...                                                  ...                ...
10909                                                  0                 27
10910                                                  0                 13
10911                                                  0                 12
10912                                                  0                  8
10913                                                  2             151524

       Nubili  Coniugate  Divorziate  Vedove  Unite civilmente  \
0        1463          0           0       0                 0
1        1508          0           0       0                 0
2        1442          0           0       0                 0
3        1532          0           0       0                 0
4        1532          0           0       0                 0
...       ...        ...         ...     ...               ...
10909       5          4           0      97                 0
10910       5          2           1      71                 0
10911       4          2           0      37                 0
10912       6          2           0      90                 0
10913   59142      69533        7195   20229                60

       Femmine già in unione civile (per scioglimento unione)  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
10909                                                  0
10910                                                  0
10911                                                  0
10912                                                  0
10913                                                  3

       Femmine già in unione civile (per decesso del partner)  Totale femmine  \
0                                                      0                 1463
1                                                      0                 1508
2                                                      0                 1442
3                                                      0                 1532
4                                                      0                 1532
...                                                  ...                  ...
10909                                                  0                  106
10910                                                  0                   79
10911                                                  0                   43
10912                                                  0                   98
10913                                                  0               156162

       Totale
0        2946
1        3095
2        3012
3        3057
4        3152
...       ...
10909     133
10910      92
10911      55
10912     106
10913  307686

[10914 rows x 20 columns]>

In [178]:
df_iso = pd.read_csv('../dati/ISO_Regioni_Province.csv')
df_iso.head()
df_iso.count

<bound method DataFrame.count of     den_geografica tipo_geografico    ISO
0          Abruzzo         Regione  IT-65
1        Agrigento       Provincia  IT-AG
2      Alessandria       Provincia  IT-AL
3           Ancona       Provincia  IT-AN
4            Aosta       Provincia  IT-AO
..             ...             ...    ...
130       Vercelli       Provincia  IT-VC
131         Verona       Provincia  IT-VR
132  Vibo Valentia       Provincia  IT-VV
133        Vicenza       Provincia  IT-VI
134        Viterbo       Provincia  IT-VT

[135 rows x 3 columns]>

In [179]:
df_iso.head()

  den_geografica tipo_geografico    ISO
0        Abruzzo         Regione  IT-65
1      Agrigento       Provincia  IT-AG
2    Alessandria       Provincia  IT-AL
3         Ancona       Provincia  IT-AN
4          Aosta       Provincia  IT-AO

df_conISO = df_conISO.drop('Provincia', axis=1)

In [180]:
df_conISO = df_iso.merge(df, left_on='den_geografica', right_on='Provincia' , how='right')
df_conISO = df_conISO.drop('Codice provincia', axis=1)
df_conISO.loc[df_conISO['den_geografica'] == 'Napoli', 'ISO'] = df_conISO.loc[df_conISO['den_geografica'] == 'Napoli', 'ISO'].fillna('IT-NA')
df_conISO.head()

,den_geografica,tipo_geografico,ISO,Provincia,Età,Celibi,Coniugati,Divorziati,Vedovi,Uniti civilmente,...,Totale maschi,Nubili,Coniugate,Divorziate,Vedove,Unite civilmente,Femmine già in unione civile (per scioglimento unione),Femmine già in unione civile (per decesso del partner),Totale femmine,Totale
0,Agrigento,Provincia,IT-AG,Agrigento,0,1483,0,0,0,0,...,1483,1463,0,0,0,0,0,0,1463,2946
1,Agrigento,Provincia,IT-AG,Agrigento,1,1587,0,0,0,0,...,1587,1508,0,0,0,0,0,0,1508,3095
2,Agrigento,Provincia,IT-AG,Agrigento,2,1570,0,0,0,0,...,1570,1442,0,0,0,0,0,0,1442,3012
3,Agrigento,Provincia,IT-AG,Agrigento,3,1525,0,0,0,0,...,1525,1532,0,0,0,0,0,0,1532,3057
4,Agrigento,Provincia,IT-AG,Agrigento,4,1620,0,0,0,0,...,1620,1532,0,0,0,0,0,0,1532,3152

In [181]:
df_conISO.count

<bound method DataFrame.count of       den_geografica tipo_geografico    ISO  Provincia  Età  Celibi  \
0          Agrigento       Provincia  IT-AG  Agrigento    0    1483
1          Agrigento       Provincia  IT-AG  Agrigento    1    1587
2          Agrigento       Provincia  IT-AG  Agrigento    2    1570
3          Agrigento       Provincia  IT-AG  Agrigento    3    1525
4          Agrigento       Provincia  IT-AG  Agrigento    4    1620
...              ...             ...    ...        ...  ...     ...
11011        Viterbo       Provincia  IT-VT    Viterbo   97       1
11012        Viterbo       Provincia  IT-VT    Viterbo   98       1
11013        Viterbo       Provincia  IT-VT    Viterbo   99       0
11014        Viterbo       Provincia  IT-VT    Viterbo  100       0
11015        Viterbo       Provincia  IT-VT    Viterbo  999   70881

       Coniugati  Divorziati  Vedovi  Uniti civilmente  ...  Totale maschi  \
0              0           0       0                 0  ...           1483
1              0           0       0                 0  ...           1587
2              0           0       0                 0  ...           1570
3              0           0       0                 0  ...           1525
4              0           0       0                 0  ...           1620
...          ...         ...     ...               ...  ...            ...
11011         13           0      13                 0  ...             27
11012          3           0       9                 0  ...             13
11013          5           0       7                 0  ...             12
11014          5           0       3                 0  ...              8
11015      70555        5687    4267               130  ...         151524

       Nubili  Coniugate  Divorziate  Vedove  Unite civilmente  \
0        1463          0           0       0                 0
1        1508          0           0       0                 0
2        1442          0           0       0                 0
3        1532          0           0       0                 0
4        1532          0           0       0                 0
...       ...        ...         ...     ...               ...
11011       5          4           0      97                 0
11012       5          2           1      71                 0
11013       4          2           0      37                 0
11014       6          2           0      90                 0
11015   59142      69533        7195   20229                60

       Femmine già in unione civile (per scioglimento unione)  \
0                                                      0
1                                                      0
2                                                      0
3                                                      0
4                                                      0
...                                                  ...
11011                                                  0
11012                                                  0
11013                                                  0
11014                                                  0
11015                                                  3

       Femmine già in unione civile (per decesso del partner)  Totale femmine  \
0                                                      0                 1463
1                                                      0                 1508
2                                                      0                 1442
3                                                      0                 1532
4                                                      0                 1532
...                                                  ...                  ...
11011                                                  0                  106
11012                                                  0                   79
11013                                                  0                   43
11014                                                  0                   98
11015                                                  0               156162

       Totale
0        2946
1        3095
2        3012
3        3057
4        3152
...       ...
11011     133
11012      92
11013      55
11014     106
11015  307686

[11016 rows x 22 columns]>

In [182]:
df_conISO.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11016 entries, 0 to 11015
Data columns (total 22 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   den_geografica                                          11016 non-null  object
 1   tipo_geografico                                         11016 non-null  object
 2   ISO                                                     11016 non-null  object
 3   Provincia                                               11016 non-null  object
 4   Età                                                     11016 non-null  int64
 5   Celibi                                                  11016 non-null  int64
 6   Coniugati                                               11016 non-null  int64
 7   Divorziati                                              11016 non-null  int64
 8   Vedovi                                                  11016 non-null  int64
 9   Uniti civilmente                                        11016 non-null  int64
 10  Maschi già in unione civile (per scioglimento unione)   11016 non-null  int64
 11  Maschi già in unione civile (per decesso del partner)   11016 non-null  int64
 12  Totale maschi                                           11016 non-null  int64
 13  Nubili                                                  11016 non-null  int64
 14  Coniugate                                               11016 non-null  int64
 15  Divorziate                                              11016 non-null  int64
 16  Vedove                                                  11016 non-null  int64
 17  Unite civilmente                                        11016 non-null  int64
 18  Femmine già in unione civile (per scioglimento unione)  11016 non-null  int64
 19  Femmine già in unione civile (per decesso del partner)  11016 non-null  int64
 20  Totale femmine                                          11016 non-null  int64
 21  Totale                                                  11016 non-null  int64
dtypes: int64(18), object(4)
memory usage: 1.8+ MB

In [183]:
df_conISO[df_conISO['ISO'].isnull()]

Empty DataFrame
Columns: [den_geografica, tipo_geografico, ISO, Provincia, Età, Celibi, Coniugati, Divorziati, Vedovi, Uniti civilmente, Maschi già in unione civile (per scioglimento unione), Maschi già in unione civile (per decesso del partner), Totale maschi, Nubili, Coniugate, Divorziate, Vedove, Unite civilmente, Femmine già in unione civile (per scioglimento unione), Femmine già in unione civile (per decesso del partner), Totale femmine, Totale]
Index: []

[0 rows x 22 columns]

In [184]:
df_conISO.to_csv('../dati/POSAS_2024_it_Province_con_ISO.csv', index=False)